<header class="container">
    <ul>
        <li><a href="/" id="logo">Tables</a></li>
        <li><a href="/faculty">Choose faculty</a></li>
        <li><a href="/department">Choose department</a></li>
        <li><a href="/teacher">Choose teacher</a></li>
    </ul>
</header>