<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<body>
    {{> header}}
    <h1>Choose a table:</h1>
    <div>
        <a href="/faculty"><section>Faculty</section></a>
        <a href="/department"><section>Department</section></a>
        <a href="/teacher"><section>Teacher</section></a>
    </div>
</body>
</html>